<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My First Template</title>
</head>
<body>
    <h1><a href="">TODO App</a></h1>
    <div class="task-list">
        <div class="task">
            <input type="checkbox">
            Write static template with items.
        </div>
        <div class="task">
            <input type="checkbox">
            Display items from the database.
        </div>
        <div class="task">
            <input type="checkbox">
            Add items using form.
        </div>
        <div class="task task-done">
            <input type="checkbox" checked>
            Create first Flask application.
        </div>
    </div>
</body>
</html>